.form {
    background: transparent !important;
    color: var(--white) !important;
}


.objective{
    padding: 2rem;
    color: var(--white);
}

.number {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1rem;
    color: var(--white);

}